Header set Content-Security-Policy: "default-src 'self' data: ; script-src 'self' 'unsafe-inline' https://unpkg.com/ blob: ; style-src 'self' 'unsafe-inline' https://unpkg.com/ ; media-src 'self' data: blob: ; font-src 'self' data: ;"